include LICENSE
include README.md
include Makefile
include package.json
include requirements.txt
include setup.py


recursive-include docs
recursive-include tests
recursive-include blackjack

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * env
